<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="webspec server">
    <meta name="author" content="RobinQu">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Webspec</a>
            </div>
            
            <div class="collapse navbar-collapse" id="top-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li <% if(isInDashboard) { %>
                  class="active"<% } %>>
                  <a href="/dashboard">Dashboard</a>
                </li>
                <li <% if(isInSuites) { %>
                  class="active"<% } %>>
                  <a href="/live">Suites</a>
                </li>
              </ul>
              <% if(currentUser) { %>
                <a href="/logout" class="btn btn-default navbar-btn navbar-right">Logout</a>
                <p class="navbar-text navbar-right"><%= __("Signed in as %s", currentUser.username) %></p>
              <% } else { %>
                <a href="/login" class="btn btn-default navbar-btn navbar-right">Login/Register</a>
              <% } %>
            </div>
      </div>
    </nav>
    
    <div class="container alerts">
      <div class="row">
        <div class="col-md-12">
          <% if(flash.success) { %>
          <div class="alert alert-success"><%= flash.success %></div>
          <% } %>
          <% if(flash.info) { %>
          <div class="alert alert-info"><%= flash.info %></div>
          <% } %>
          <% if(flash.warning) { %>
          <div class="alert alert-warning"><%= flash.warning %></div>
          <% } %>
          <% if(flash.alert) { %>
          <div class="alert alert-danger"><%= flash.alert %></div>
          <% } %>
        </div>
      </div>
    </div>
    
    <div class="container">
      <%- body %>
      
      
      <div class="footer">
        <ul class="list-inline">
          <li>Webspec</li>
          <li><a href="https://github.com/RobinQu/webspec-server"><%= __("Source") %></a></li>
          <li><a href="https://github.com/RobinQu/webspec-server/issues"><%= __("Issues") %></a></li>
          <li><a href="https://github.com/RobinQu/webspec-server/blob/master/LICENSE"><%= __("License") %></a></li>
        </ul>
      </div>
    </div>
    
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>