<div class="row">
  
  <div class="lg-col-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= __("Your Test Suites") %></div>
      <div class="panel-body">
        <a href="/live/suites/new" class="btn btn-primary">New Test Suite</a>
      </div>
      <ul class="list-group">
        <% suites.forEach(function(suite) { %>
          <li><a href="/live/suites/<%= suite.name %>/"><%= suite.name %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
  
  <div class="lg-col-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= __("Your webspec-enabled repos") %></div>
      <div class="panel-body">
        <form action="/users/<%= currentUser.username %>/repos">
          <select name="name" id="" class="form-control">
            <% all.forEach(function(repo) { %>
              <option value="<%= repo.name %>"><%= repo.name %></option>
            <% }) %>
          </select>
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
    <ul class="list-group">
      <% if(repos.length) { %>
      <% repos.forEach(function(repo) { %>
        <li><a href="/spec/<%= repo.owner %>/<%= repo.name %>/master"><%= repo.name %></a></li>
      <% }) %>
      <% } else { %>
        <%= __("Enable webspec on one of your repo above") %>
      <% } %>
    </ul>
  </div>
  
</div>