<div class="row">
  
  <div class="lg-col-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= __("Your Test Suites") %></div>
      <div class="panel-body">
        <a href="/live/suites/new" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i>
          <%= __("New Test Suite") %></a>
      </div>
      <ul class="list-group">
        <% suites.forEach(function(suite) { %>
          <li class="list-group-item"><a href="/live/suites/<%= suite.name %>/">
            <%= suite.name %></a></li>
        <% }) %>
      </ul>
      <% if(suites.length) { %>
      <div class="panel-footer">
        <a href="/users/<%= currentUser.username %>/repos"><%= __("All Test Suits") %></a>
      </div>
      <% } %>
    </div>
  </div>
  
  <div class="lg-col-6">
    <div class="panel panel-default">
      <div class="panel-heading"><%= __("Your webspec-enabled repos") %></div>
      <div class="panel-body">
        <form action="/users/<%= currentUser.username %>/repos" method="POST">
          <div class="form-group">
            <label for="githubRepoSelect"><%= __("Select your github repo to enable webspec") %></label>
            <select name="name" id="githubRepoSelect" class="form-control">
              <% all.forEach(function(repo) { %>
                <option value="<%= repo.name %>"><%= repo.name %></option>
              <% }) %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>
            Add</button>
        </form>
        <% if(!repos.length) { %>
          <p class="lead text-center"><%= __("No github repo is enabled for webspec") %></p>
        <% } %>
      </div>
      <% if(repos.length) { %>
      <ul class="list-group">
        <% repos.forEach(function(repo) { %>
          <li class="list-group-item"><a href="/spec/<%= repo.full_name %>/master"><%= repo.name %></a></li>
        <% }) %>
      </ul>
      <% } %>
        
    </div>
  </div>
  
</div>