      <div class="jumbotron">
        <h1>WebSpec</h1>
        <p><%= __("Distributed, living spec runner. Crowd-sourcing your tests for borwser Javascript to all Internet users.") %></p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#introduction"><%= __("Learn more") %></a></p>
      </div>
      
      <div class="row" id="introduction">
        <div class="col-lg-4">
          <h2><%= __("Test, distributed") %></h2>
          <p><%= __("Tests are run in the browser of every possible Internet users. You can share your test runner to all your targeting users directly. What's more, you can get real-time reports of your test results.") %></p>
          <a href="/dashboard" class="btn btn-primary">See Dashboard</a>
        </div>
        <div class="col-lg-4">
          <h2><%= __("Integrated with Github repositories") %></h2>
          <p><%= __("Every Github repo can be configured to run the test files commited. Just write some rules in .webspec file and commit. Every commit will triggered a new sandbox for test runner. And tests can be runned against a specified revision.") %></p>
          <a href="#" class="btn btn-primary"><%= __("About .webspec file") %></a>
        </div>
      
        <div class="col-lg-4">
          <h2><%= __("Create a test suites") %></h2>
          <p><%= __("Write a group fo spec files online. It's suitable for quick demonstrations or proof of concepts when reporting a bug or doing some compatible experiments.") %></p>
          <a href="" class="btn btn-primary"><%= __("Create one") %></a>
        </div>
      </div>