<!DOCTYPE html>
<html>
  <head>
    <title><%= subpath %> - Repos <%= repo.name %> - WebSpec</title>
  </head>
  <body>
    <ul>
      <% files.forEach(function(file) { %>
      <li>
        <a href="/repos/<%= repo.name %>/<%= file.path %>"><%= file.path %></a>
        <ul>
          <li><a href="/suites/<%= repo.name %>/<%= file.path %>">Run</a></li>
          <% if(file.type === "file") { %>
          <li><a href="/edit/<%= repo.name %>/<%= file.path %>">Edit</a></li>
          <% } %>
        </ul>
      </li>
      <% }) %>
    </ul>
  </body>
</html>