<!DOCTYPE html>
<html>
  <head>
    <title><%= currentPath %> - Repos <%= repo %> - WebSpec</title>
  </head>
  <body>
    <ul>
      <% files.forEach(function(file) { %>
      <li><a href="/repos/<%= repo %>/<%= file.path %>"><%= file.name %></a></li>
      <% }) %>
    </ul>
  </body>
</html>