<!DOCTYPE html>
<html>
  <head>
    <title><%= repo %> - Spec - WebSpec</title>
  </head>
  <body>
    Running spec files in repo (<%= repo %>): 

    <ul>
    <% specs.forEach(function(spec) { %>
      <li><%= spec %></li>
    <% }) %>
    </ul>


    <iframe src="/sandboxes/<%= uuid %>?repo=<%= repo %>" frameborder="0"></iframe>
  </body>
  
</html>