<article>
  <header>
    <dl>
      <dt>Repository</dt>
      <dd><%= owner %>/<%= repo %></dd>
      <dt>Directory</dt>
      <dd><%= path %></dd>
    </dl>
  </header>
  <section>
    <ul>
      <% files.forEach(function(file) { %>
      <li><a href="/repo/<%= owner %>/<%= repo %>/<%= file.path %>"><%= file.name %></a></li>
      <% }) %>
    </ul>
  </section>
</article>