<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>
  
  <link rel="stylesheet" type="text/css" href="/bower_components/components-jasmine/lib/jasmine-2.0.0/jasmine.css">
  <script type="text/javascript" src="/bower_components/components-jasmine/lib/jasmine-2.0.0/jasmine.js"></script>
  <script type="text/javascript" src="/bower_components/jasmine-jsreporter/jasmine-jsreporter.js"></script>
  <script type="text/javascript" src="/scripts/sandbox/utils.js"></script>
  <script type="text/javascript" src="/scripts/sandbox/reporter.js"></script>
  
  <script type="text/javascript">
    var __SANDBOX__ = <%- JSON.stringify(sandbox) %>;
  </script>

  <script type="text/javascript" src="/scripts/sandbox/boot.js"></script>  
  
  <% if(sandbox.sources) { %>
    <% sandbox.sources.forEach(function(source) { %>
      <script type="text/javascript" src="/repo/<%= sandbox.owner %>/<%= sandbox.repo %>/<%= sandbox.ref %>/<%= source %>"></script>
    <% }) %>
  <% } %>
  <% if(sandbox.specs) { %>
    <% sandbox.specs.forEach(function(spec) { %>
      <script type="text/javascript" src="/repo/<%= sandbox.owner %>/<%= sandbox.repo %>/<%= sandbox.ref %>/<%= spec %>"></script>
    <% }) %>
  <% } %>
  
</head>
<body data-report="<%= report %>">
</body>
</html>