<!DOCTYPE html>
<html>
  <head>
    <title><%= subpath %> - Repos <%= repo.name %> - WebSpec</title>
  </head>
  <body>
    Diectories
    <ul>
      <% files.forEach(function(file) { %>
      <li>
        <a href="/repos/<%= repo.name %>/<%= file.path %><%= ref ? '?ref=' + ref : '' %>"><%= file.path %></a>
        <ul>
          <li><a href="/suites/<%= repo.name %>/<%= file.path %><%= ref ? '?ref=' + ref : '' %>">Run</a></li>
          <% if(file.type === "file" && !ref) { %>
          <li><a href="/edit/<%= repo.name %>/<%= file.path %>">Edit</a></li>
          <% } %>
        </ul>
      </li>
      <% }) %>
    </ul>
    
    Commits:
    <ul>
      <% commits.forEach(function(commit) { %>
      <li><a href="/repos/<%= repo.name %>/<%= subpath %>?ref=<%= commit.sha %>"><%= commit.sha %></a></li>
      <% }) %>
    </ul>
  </body>
</html>