<!DOCTYPE html>
<html>
  <head>
    <title>Repo <%= repo.name %>/<%= subpath %> - Suites - WebSpec</title>
  </head>
  <body>
    <div class="article">
      Running spec files in repo (<%= repo.name %>) at path (<%= subpath %>): 
      <ul>
      <% files.forEach(function(file) { %>
        <li>
          <span><%= file.path %> </span>
          <a href="/edit/<%= repo.name %>/<%= subpath %>">Edit</a>
        </li>
      <% }) %>
      </ul>
    </div>
  <iframe src="/sandboxes/<%= sandboxId %>" frameborder="0"></iframe>
  </body>
</html>