<div class="form-group">
  <label for="suiteNameInput"><%= __("Suite Name") %></label>
  <input type="text" id="suiteNameInput" name="name" value="<%= suite.name %>" placeholder="<%= __("Suite Name") %>" class="form-control" />
</div>

<div class="form-group">
  <label for="runnerSelect"><%= __("Runner Type") %></label>
  <select name="runner" id="runnerSelect" class="form-control">
    <option value="jasmine">Jasmine</option>
  </select>
</div>

<div class="form-group" id="sourceFiles">
  <label for=""><%= __("Source files") %></label>
<% if(suite.sources.length) { %>
  <% suite.sources.forEach(function(source, i) { %>
    <div class="input-group">
      <input type="text" name="sources[<%= i %>]" value="<%= source %>" class="form-control" />
    </div>
  <% }) %>
<% } %>

<div class="form-group">
  <input type="text" name="sources[]" value=""  placeholder="<%= __("Add new source file") %>" class="form-control" />
</div>
<a href="#" class="btn btn-default">
  <i class="glyphicon glyphicon-plus"></i>
  <%= __("Add another source file") %>
</a>

</div>