<div class="panel panel-default">
  <div class="panel-body">
    <dl>
      <dt><%= __("Suite") %></dt>
      <dd><%= suite.name %></dd>
      <dt><%= __("Author") %></dt>
      <dd><%= suite.author.name %>
        <% if(currentUser && currentUser.username === suite.author.name) { %>
          (<%= __("You") %>)
        <% } %>
      </dd>
      <% if(commits.length) { %>
      <dt><%= __("Revisions") %></dt>
      <dd>
        <select onchange="if(this.value) location='/live/suites/<%= suite.name %>/?ref=' + this.value">
          <option value=""><%= __("Jump to revision") %></option>
          <option value="master">Master</option>
            <% commits.forEach(function(commit) { %>
              <% if(ref === commit.sha) { %>
              <option value="<%= commit.sha %>" selected><%= commit.sha.slice(0, 10) %>(<%= __("Current") %>)</option>
              <% } else { %>
                <option value="<%= commit.sha %>"><%= commit.sha.slice(0, 10) %></option>
              <% } %>
            <% }) %>
        </select>
      </dd>
      <% } %>
    </dl>
  </div>
</div>