<div class="panel panel-default">
  <div class="panel-body">
    <dl>
      <dt><%= __("Suite") %></dt>
      <dd><%= suite.name %></dd>
      <dt><%= __("Author") %></dt>
      <dd><%= suite.author.name %>
        <% if(currentUser && currentUser.username === suite.author.name) { %>
          (<%= __("You") %>)
        <% } %>
      </dd>
    </dl>
    
  </div>
</div>