<div class="row">
  <div class="col-lg-12">
    <form action="/live/suites/<%= suite.name %>" method="PUT">
      <legend><%= __("Update Suite %s", suite.name)  %></legend>
      <fieldset>
        <%- include _form %>
      </fieldset>
      <button type="submit" class="btn btn-primary"><%= __("Save") %></button>
    </form>
    <hr />
    <form action="/live/suites/<%= suite.name %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <button type="submit" class="btn btn-danger"><%= __("Delete")  %></button>
    </form>
  </div>
</div>