<% scriptTag("/bower_components/lodash/dist/lodash.min.js") %>
<% scriptTag("/scripts/aggregation.js") %>

<div class="row">
  <div class="col-md-4">
    <%- include _suite %>
    
    <div class="btn-group">
      <% if(currentUser) { %>
      <a href="/live/suites/<%= suite.name %>/edit" class="btn btn-default">
        <i class="glyphicon glyphicon-pencil"></i>
        <%= __("Edit") %>
      </a>
      <% } %>
      <a href="/live/run/master/<%= suite.name %>" class="btn btn-success">
        <i class="glyphicon glyphicon-play"></i>
        <%= __("Run") %>
      </a>
    </div>
    <hr />
  </div>
  
  
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if(ref === "master") { %>
          <%= __("Reports for all revisions") %>
        <% } else { %>
          <% if(sandbox) { %>
            <%= __("Reports for Rev %s", sandbox.ref) %>
          <% } else { %>
            <%= __("Seems this tests have never runned before")  %>
          <% } %>
        <% } %>
      </div>
      <div class="aggregation" data-type="suite" data-suite="<%= suite.name %>" <% if(sandbox && sandbox.ref) { %>data-ref="<%= sandbox.ref %>"<%}%>>
        <p class="lead"><%= __("Loading report data") %></p>
      </div>
    </div>
    
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><%= __("Source files") %></div>
      <div class="panel-body">
        <% if(!suite.sources.length) { %>
        <p><%= __("No source files added") %></p>
        <% } %>
        <a href="/live/suites/<%= suite.name %>/edit#sourceFiles" class="btn btn-default">
          <i class="glyphicon glyphicon-th-list"></i>
          <%= __("Manage") %></a>
      </div>
      <% if(suite.sources.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th><%= __("URL") %></th>
          </tr>
        </thead>
        <tbody>
          <% suite.sources.forEach(function(s, i) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= s %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><%= __("Spec files") %></div>
      <div class="panel-body">
        <% if(!specs.length) { %>
        <p><% __("No spec files added") %></p>
        <% } %>
        <a href="/live/suites/<%= suite.name %>/specs/new" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i>
          <%= __("New spec file") %></a>
      </div>
      <% if(specs.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th><%= __("Name") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% specs.forEach(function(s, i) { %>
          <tr>
            <td><%= i %></td>
            <td><a data-toggle="modal" data-target="#sourceModalWindow" href="/live/suites/<%= suite.name %>/specs/<%= s.name %>"><%= s.name %></a></td>
            <td>
              <div class="btn-group btn-group-xs">
                <a href="/live/suites/<%= suite.name %>/specs/<%= s.name %>/edit" class="btn btn-default"><%= __("Edit") %></a>
                <a href="/live/suites/<%= suite.name %>/specs/<%= s.name %>" data-method="DELETE"  class="btn btn-danger" data-confirm="Are you sure to delete"><%= __("Delete") %></a>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>  
</div>

<script id="aggregationTemplate" type="text/template">
  <%- embed("aggregate") %>
</script>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="sourceModalWindow" aria-hidden="true" id="sourceModalWindow">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div>