Live suite <%= suite.name %>

Created by <%= suite.author.name %>

<a href="/live/suites/<%= suite.name %>/edit">Edit</a>
<a href="/live/run/master/<%= suite.name %>">Run</a>

Source files
<ul>
  <% suite.sources.forEach(function(s) { %>
  <li><%= s %></li>
  <% }) %>
</ul>

Spec files

<a href="/live/suites/<%= suite.name %>/specs/new">New spec file</a>
<ul>
  <% specs.forEach(function(s) { %>
  <li><%= s.name %>
    
    <% if(currentUser) { %>
      - <a href="/live/suites/<%= suite.name %>/specs/<%= s.name %>/edit">Edit</a></li>
      <% if(currentUser.username === suite.author.name) { %>
        - <a href="/live/suites/<%= suite.name %>/specs/<%= s.name %>" data-method="DELETE" data-confirm="Are you sure to delete">Delete</a>
      <% } %>
    <% } %>
  <% }) %>
</ul>


