<form action="/live/update/<%= suite %>/<%= filename %>" method="POST">
  <legend>Update <%= suite %>/<%= filename %></legend>
  <input type="hidden" name="_method" value="PUT" />
  <input type="hidden" name="originalSHA" value="<%= file.sha %>" />
  <input type="text" name="author[name]" placeholder="Author Name" />
  <input type="email" name="author[email]" placeholder="Author email" />
  <textarea name="content" id="" cols="30" rows="10"><%= decodedContent %></textarea>
  <button type="submit">Save</button>
</form>