<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <dt><%= __("Suite") %></dt>
          <dd><%= suite.name %></dd>
          <dt><%= __("Author") %></dt>
          <dd><%= suite.author.name %>
            <% if(currentUser && currentUser.username === suite.author.name) { %>
              (<%= __("You") %>)
            <% } %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <form action="/live/suites/<%= suite.name %>/specs/<%= spec.name %>" method="POST">
      <legend><%= __("Update Spec File %s", spec.name) %></legend>
      <input type="hidden" name="_method" value="PUT" />
      <input type="hidden" name="name" value="<%= spec.name %>" />
      <input type="hidden" name="sha" value="<%= spec.sha %>" />
      <%- include _form %>
      <button type="submit" class="btn btn-primary"><%= __("Save") %></button>
    </form>
    <hr />
    <form action="/live/suites/<%= suite %>/specs/<%= spec.name %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <button type="submit" class="btn btn-danger"><%= __("Delete") %></button>
    </form>
  </div>
</div>

