<form action="/live/suites/<%= suite %>/specs/<%= spec.name %>" method="POST">
  <legend>Update <%= suite %>/<%= spec.name %></legend>
  <input type="hidden" name="name" value="<%= spec.name %>" />
  <input type="hidden" name="_method" value="PUT" />
  <input type="hidden" name="sha" value="<%= spec.sha %>" />
  <%- include _form %>
  <button type="submit">Save</button>
</form>

<form action="/live/suites/<%= suite %>/specs/<%= spec.name %>" method="POST">
<input type="hidden" name="_method" value="DELETE" />
<button type="submit">Delete</button>
</form>