<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <dl>
          <dt><%= __("Suite") %></dt>
          <dd><%= suite.name %></dd>
          <dt><%= __("Author") %></dt>
          <dd><%= suite.author.name %>
            <% if(currentUser && currentUser.username === suite.author.name) { %>
              (<%= __("You") %>)
            <% } %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <form action="/live/suites/<%= suite.name %>/specs" method="POST">
      <legend><%= __("New Spec File") %></legend>
      <div class="form-group">
        <label for="nameInput"><%= __("Filename") %></label>
        <input type="text" name="name" placeholder="<%= __("Filename") %>" value="spec.js" class="form-control" />
      </div>
      <%- include _form %>
      <button type="submit" class="btn btn-primary"><%= __("Save") %></button>
    </form>
  </div>
</div>