<div class="row">
  <div class="col-md-4">
    <%- include ../suite/_suite %>
  </div>
  <div class="col-md-8">
    <form action="/live/suites/<%= suite.name %>/specs" method="POST">
      <legend><%= __("New Spec File") %></legend>
      <div class="form-group">
        <label for="nameInput"><%= __("Filename") %></label>
        <input type="text" name="name" placeholder="<%= __("Filename") %>" value="spec.js" class="form-control" />
      </div>
      <%- include _form %>
      <button type="submit" class="btn btn-primary"><%= __("Save") %></button>
    </form>
  </div>
</div>


