<div class="panel panel-default panel-file-list">
  <div class="panel-heading"><%= __("Spec files") %></div>
  <div class="panel-body">
    <% if(specs.length) { %>
    <% specs.forEach(function(file){ %>
      <div class="form-group">
        <input type="text" disabled value="<%= file %>" class="form-control" />
      </div>
    <% }) %>
    <% } else { %>
      <p><%= __("No spec files specified") %></p>
    <% } %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><%= __("Source files") %></div>
  <div class="panel-body">
    <% if(sources.length) { %>
    <% sources.forEach(function(file){ %>
      <div class="form-group">
        <input type="text" disabled value="<%= file %>" class="form-control" />
      </div>
    <% }) %>
    <% } else { %>
      <p><%= __("No source files specified") %></p>
    <% } %>
  </div>
</div>