<div class="row">
  <div class="col-md-4">
    
    <div class="panel panel-default">
      <div class="panel-heading"><%=  __("Test Suite %s", repo) %></div>
      <div class="panel-body">
        <dl>
          <dt><%= __("Repository") %></dt>
          <dd><%= owner %>/<%= repo %></dd>
          <% if(subpath) { %>
          <dt><%= __("Target") %></dt>
          <dd><%= subpath %></dd>
          <% } %>
        </dl>
      </div>
    </div>
    
    <% if(commits.length) { %>
      <div class="panel panel-default panel-data-list">
        <div class="panel-heading"><%= __("Recent Revisions") %></div>
        <ul class="list-group">
          <% commits.forEach(function(commit) { %>
            <li class="list-group-item">
              <a href="/inspect?owner=<%= owner %>&repo=<%= repo %>&ref=<%= commit.sha %>"><%= commit.sha %></a>
            </li>
          <% }) %>
        </ul>
      </div>
    <% } %>
    
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if(ref === "master") { %>
          <%= __("Reports for all revisions") %>
        <% } else { %>
          <%= __("Reports for Rev %s", sandbox.ref) %>
        <% } %>
      </div>
      
      TODO
    </div>
  </div>
</div>