<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%=  __("Test Suite %s", suite.name) %></div>
      <div class="panel-body">
        <dl>
          <dt><%= __("Author") %></dt>
          <dd><%= suite.author.name %>(<a href="mailto://<%= suite.author.email %>"><%= suite.author.email %></a>)</dd>
          <dt><%= __("Runner") %></dt>
          <dd><%= suite.runner %></dd>
        </dl>
      </div>
    </div>
    
    <%- include _sidebar %>
  </div>
  <div class="col-md-8">
    <%- include _sandbox %>
  </div>
</div>