<article>
  <header>
    <h1>Running <%= runner %> test suites</h1>
    <dl>
      <dt>Repository</dt>
      <dd><%= owner %>/<%= repo %></dd>
      <dt>Target</dt>
      <% if(path) { %>
        <dd><%= path %></dd>
      <% } else { %>
        <dd>As described in .webspec file</dd>
      <% } %>
    </dl>
  </header>
  <section class="files">
    <h2>Source files</h2>
    <ul>
    <% source.forEach(function(file) { %>
      <li><%= file.name %></li>
    <% }) %>
    
    <h2>Spec files</h2>
    <% spec.forEach(function(file){ %>
      <li><%= file.name %></li>
    <% }) %>
    </ul>
  </section>
  <section class="sandbox">
    <% if(spec.length) { %>
    <iframe src="/sandboxes/<%= sandboxId %>" frameborder="0"></iframe>
    <% } else { %>
      <p>No spec files found</p>
    <% } %>
  </section>
</article>