<article>
  <header>
    <h1>Running <%= runner %> test suites</h1>
    <dl>
      <dt>Repository</dt>
      <dd><%= owner %>/<%= repo %></dd>
      <dt>Target</dt>
      <dd><%= path %></dd>
    </dl>
  </header>
  <section class="files">
    <h2>Source files</h2>
    <ul>
    <% sources.forEach(function(file) { %>
      <li><%= file %></li>
    <% }) %>
    </ul>
    
    <h2>Spec files</h2>
    <ul>
    <% specs.forEach(function(file){ %>
      <li><%= file %></li>
    <% }) %>
    </ul>
  </section>
  <section class="sandbox">
    <% if(specs.length) { %>
    <iframe src="/sandboxes/<%= sandboxId %>" frameborder="0"></iframe>
    <% } else { %>
      <p>No spec files found</p>
    <% } %>
  </section>
  
</article>