<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%=  __("Test Suite %s", repo) %></div>
      <div class="panel-body">
        <dl>
          <dt><%= __("Repository") %></dt>
          <dd><%= owner %>/<%= repo %></dd>
          <dt><%= __("Target") %></dt>
          <dd><%= path %></dd>
          <dt><%= __("Runner") %></dt>
          <dd><%= runner %></dd>
          <dt><%= __("Revision") %></dt>
          <dd><%= ref %></dd>
        </dl>
      </div>
    </div>
    
    <%- include _sidebar %>
    

  </div>
  <div class="col-md-8">
    <%- include _sandbox %>
  </div>
</div>