<article>
  <header>
    <h1>Running <%= runner %> test suites</h1>
    <dl>
      <dt>Repository</dt>
      <dd><%= owner %>/<%= repo %></dd>
      <dt>Sources</dt>
      <dd><%= JSON.stringify(webspec.sources) %></dd>
      <dt>Specs</dt>
      <dd><%= JSON.stringify(webspec.specs) %></dd>
    </dl>
  </header>
  
  <section class="files">
    <h2>Source files</h2>
    <ul>
    <% sources.forEach(function(file) { %>
      <li><%= file %></li>
    <% }) %>
    </ul>
    
    <h2>Spec files</h2>
    <ul>
    <% specs.forEach(function(file){ %>
      <li><%= file %></li>
    <% }) %>
    </ul>
  </section>
  <section class="sandbox">
    <iframe src="/sandboxes/<%= sandboxId %>" frameborder="0"></iframe>
  </section>

  
</article>