<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%=  __("Test suites %s", repo) %></div>
      <div class="panel-body">
        <dl>
          <dt><%= __("Runner") %></dt>
          <dd><%= webspec.runner %></dd>
          <dt><%= __("Repository") %></dt>
          <dd><%= owner %>/<%= repo %></dd>
          <dt><%= __("Sources") %></dt>
          <dd><pre><%= JSON.stringify(webspec.sources) %></pre></dd>
          <dt><%= __("Specs") %></dt>
          <dd><pre><%= JSON.stringify(webspec.specs) %></pre></dd>
        </dl>
      </div>
    </div>
    
    <%- include _sidebar %>
  </div>
  <div class="col-md-8">
    <%- include _sandbox %>
  </div>
</div>